<h1 class="title">
  <%= @post.title %>
</h1>

<p class="date">
  <i class="fa fa-clock-o"></i> Submitted <%= time_ago_in_words(@post.created_at) %> Ago
</p>
<% if user_signed_in? %>
<div class="edit">
  <div class="btn-group" role="group" aria-label="...">
    <%= button_to 'Edit', edit_post_path(@post), method: :get, class: 'btn btn-default' %>
    <%= button_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you Sure'}, class: 'btn btn-danger'  %>
    <% if user_signed_in? && !@post.approved && user_is_admin?(current_user) %>
      <%= button_to 'Approve', post_path(@post, :post => {:approved => true} ), method: :put, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<% end %>
<br/>
<p class="body">
  <%=
  markdown @post.body %>
</p>
<hr />

<div class="comments">
  <h2>Comments</h2>
  <%= render @post.comments.reverse %>
  <%= render 'comments/form' %>
</div>
