<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Open+Sans' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-container">

    <!-- top navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'QA Blog', root_path, {:class=> 'navbar-brand'} %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <ul class="nav">
            <li class="active"><span class="fa fa-home"></span> <%= link_to "Home", root_path %> </li>
            <li><span class="fa fa-pencil"></span><%= link_to "New Post", new_post_path %></li>
            <li><span class="fa fa-user"></span><%= link_to "About", about_path %> </li>
            <li class="login"><span class="fa fa-key"></span><a href="#">Sign In</a></li>
          </ul>
        </div>

        <!-- main area -->
        <div class="col-xs-12 col-sm-9">
          <%= yield %>
                </div><!-- /.col-xs-12 main -->
              </div><!--/.row-->
            </div><!--/.container-->
          </div><!--/.page-container-->

</body>
</html>
